<nb-layout>
  <nb-layout-column>
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="card col-12 col-md-6 w-100 w-md-50 height-adjustment">
        <div class="card-body p-5">
          <div>
            <h3 class="card-title text-center">Login</h3>
            <br />
            <h6 class="card-title text-center">
              Hello! Log in with your user name.
            </h6>
          </div>
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">User Name</label>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter user name"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Password"
              />
            </div>
            <div class="d-flex justify-content-end">
              <label
                ><small><a href="#">Forgot Password?</a></small></label
              >
            </div>
            <div class="d-flex justify-content-around">
              <div class="button-color">
                <span>Login</span>
              </div>
            </div>
            <div class="row px-3 mb-4 d-flex justify-content-around mt-4">
              <div class="line"></div>
              <small class="or text-center">Or</small>
              <div class="line"></div>
            </div>
            <div class="d-flex justify-content-around">
              <div class="button-color">
                <span>Create Account</span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
